body{
    padding-top:50px;
}
.sidebar{
    position:fixed;
    display:block;
    top:108px;
    bottom:0;
    background-color:rgb(190, 200, 219);
}

.main{
    padding-top:108px;
    padding-left:20px;
    position:fixed;
    display:block;
    top:0px;
    bottom:0;
}
.page-header{
    margin-top:0px;
}