<!DOCTYPE html>
<html　xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta　charset="UTF8"></meta>
    <!-- Bootstrapの設定 -->
    <link th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>

    <!--CSSの読込 -->
    <link th:href="@{/css/home.css}" rel="stylesheet"></link>
    <title>Home</title>
</head>
<header>

</header>
<body>
    <!--=====ヘッダー=====>-->
    <nav class="navbar navbar-dark bg-dark navbar-fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Spring Sample</a>
            <form method="post" th:action="@{/logout}">
                <button class="btn btn-link pull-right navbar-brand" type="submit">
                    ログアウト
                </button>
            </form>
        </div>
    </nav>
    <!--=====サイドバー=====>-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 sidebar">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation">
                        <a th:href="@{'/userList'}">ユーザ管理</a>
                    </li>
                    <li role="presentation" sec:authorize="hasRole('ADMIN')">
                        <a th:href="@{'/admin'}">アドミン用画面</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--=====コンテンツ=====-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10 offset-md-2 main">
                <!--ポイント：th:include-->
                <div th:include="__${contents}__"></div>
            </div>
        </div>
    </div>
</body>
</html>
