<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <link th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet"></link>
        <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>

        <title>Login</title>
    </head>
    <body class="text-center">
        <h1>Login</h1>
        <form method="POST" action="/login">
            <p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null"
                th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"
                class="text-danger">
                ログインエラーメッセージ
            </p>

            <label>ユーザーID</label>
            <input type="text" name="userId"><br/>
            <br/>
            <label>パスワード</label>
            <input type="password" name="password"><br/>
            <br/>
            <button class="btn btn-primary"  type="submit">ログイン</button>
            <!-- CSRF対策用トークン -->
            <input type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}" />
        </form>
        <br/>
        <a th:href="@{/signup}">ユーザー新規登録はこちら</a>
    </body>
</html>