<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF8"></meta>
</head>
<body>
    <!--コンテンツ部分-->
    <div th:fragment="userList_contents">
        <div class="page-header">
            <h1>ユーザー一覧</h1>
        </div>
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th class="info col-sm-2">ユーザID</th>
                <th class="info col-sm-2">ユーザ名</th>
                <th class="info col-sm-2">誕生日</th>
                <th class="info col-sm-2">年齢</th>
                <th class="info col-sm-2">結婚</th>
                <th class="info col-sm-2"></th>
            </tr>
            <tr th:each="user:${userList}">
                <td th:text="${user.userId}"></td>
                <td th:text="${user.userName}"></td>
                <!-- ポイント１：日付型のフォーマット-->
                <td th:text="${#dates.format(user.birthday,'YYYY/MM/dd')}"></td>
                <td th:text="${user.age}"></td>
                <td th:text="${user.marriage}?'既婚':'未婚'"></td>
                <td>
                    <!-- ポイント２：動的URL-->
                    <a class="btn btn-primary" th:href="@{'/userDetail/'+${user.userId}}">詳細</a>
                </td>
            </tr>
        </table>
        <!--ユーザー一覧の件数-->
        <label th:text="'合計：'+${userListCount}+'件'"></label><br/>
        <!--更新・削除処理の結果表示用-->
        <label class="text-info" th:text="${result}">結果表示</label><br/>
        <!--CSV出力用のリンク-->
        <a class="btn btn-primary" th:href="@{'/userList/csv'}">CSV出力</a>
    </div>
</body>
</html>

