<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <link th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet"></link>
        <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>

        <title>SignUp</title>
    </head>
    <body>
        <div class="col-sm-5">
            <div class="page-header">
                <h1>ユーザー登録画面</h1>
            </div>
            <form method="post" th:action="@{/signup}" th:object="${signupForm}">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th class="active col-sm-3">ユーザID</th>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" 
                                th:classappend="${#fields.hasErrors('userId')}?'is-invalid'"
                                th:field="*{userId}" />
                                <span class="text-danger"
                                    th:if="${#fields.hasErrors('userId')}"
                                    th:errors="*{userId}">
                                    userId error
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="active">パスワード</th>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" 
                                th:classappend="${#fields.hasErrors('password')}?'is-invalid'"
                                th:field="*{password}"/>
                                <span class="text-danger"
                                    th:if="${#fields.hasErrors('password')}" 
                                    th:errors="*{password}">
                                    password error
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="active">ユーザ名</th>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control"
                                    th:classappend="${#fields.hasErrors('userName')}?'is-invalid'"
                                    th:field="*{userName}" />
                                <span class="text-danger" 
                                    th:if="${#fields.hasErrors('userName')}"
                                    th:errors="*{userName}">
                                    userName error
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="active">誕生日</th>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" 
                                    th:classappend="${#fields.hasErrors('birthday')}?'is-invalid'"
                                    placeholder="yyyy/MM/dd" 
                                    th:field="*{birthday}" />
                                <span class="text-danger" 
                                    th:if="${#fields.hasErrors('birthday')}"
                                    th:errors="*{birthday}">
                                    birthday error
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="active">年齢</th>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" 
                                    th:classappend="${#fields.hasErrors('age')}?'is-invalid'"
                                    th:field="*{age}" />
                                <span class="text-danger" 
                                    th:if="${#fields.hasErrors('age')}"
                                    th:errors="*{age}">
                                    age error
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="active">結婚</th>
                        <td>
                            <div class="form-group">
                                <div th:each="item:${radioMarriage}">
                                    <input type="radio" name="radioMarriage"
                                        th:text="${item.key}" 
                                        th:value="${item.value}"
                                        th:field="*{marriage}" />
                                    <span class="text-danger" 
                                        th:if="${#fields.hasErrors('marriage')}"
                                        th:errors="*{marriage}">
                                        marriage error
                                    </span>
                                </div>
                        </td>
                    </tr>                
                </table>
                <button class="btn btn-primary" type="submit">
                    ユーザー登録
                </button>
            </form>
        </div>
    </body>
</html>